<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>奖惩信息</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/stumanage.css" type="text/css">
</head>
<body background="static/img/furley_bg.png" >

<nav class="navbar navbar-default" id="nav">
    <h3 class="navbar-text"><em><strong>湖南人文科技学院</strong></em>&nbsp;&nbsp;&nbsp;学生奖惩信息管理系统</h3>
    <h4 class="navbar-text pull-right"><strong>欢迎您，{{username}}老师！&nbsp;<button class="btn btn-default" @click="confirmSelect">退出系统</button></strong></h4>

    <!-- 确认选择模态框 -->
    <div class="modal fade" id="confirmSelectModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">确认退出登录？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="teacherLoginOut">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</nav>

<div id="list">
    <!--二级菜单-->
    <nav class="navbar navbar-default">&nbsp;&nbsp;&nbsp;
        <a href="viewstudent.action"><button type="button" class="btn btn-default navbar-btn">学生列表</button></a>&nbsp;&nbsp;&nbsp;
        <a href="addPrizeinfoPage.action"><button type="button" class="btn btn-default navbar-btn">添加奖惩条目</button></a>&nbsp;&nbsp;&nbsp;
        <a href="teacherHome.action"><button type="button" class="btn btn-default navbar-btn">回到主页</button></a>
    </nav>

    <!--奖惩列表-->
    <template v-if="seen">
        <div class="container-fluid">
            <table class="table table-bordered">
                <tr>
                    <td><strong>序号</strong></td>
                    <td><strong>类别</strong></td>
                    <td><strong>名称</strong></td>
                    <td><strong>措施</strong></td>
                    <td><strong>原因</strong></td>
                    <td><strong>时间</strong></td>
                    <td><strong>管理</strong></td>
                </tr>
                <tr v-for="(prizeinfo, index) in items">
                    <td><strong> {{index+1}} </strong></td>
                    <td><strong>{{prizeinfo.sort}}</strong></td>
                    <td><strong>{{prizeinfo.name}}</strong></td>
                    <td><strong>{{prizeinfo.measure}}</strong></td>
                    <td><strong>{{prizeinfo.reason}}</strong></td>
                    <td><strong>{{prizeinfo.date}}</strong></td>
                    <td>
                        <strong><a :href="'updatePrizeinfoPage.action?id=' + prizeinfo.id"><button class="btn btn-default">修改</button></a></strong>&nbsp;&nbsp;&nbsp;&nbsp;
                        <strong><button class="btn btn-default" @click="deletePrizeinfoConfirm(prizeinfo.id, index)">撤销</button></strong>
                    </td>
                </tr>
            </table>
        </div>
    </template>

    <!-- 确认删除模态框 -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">确认撤销奖惩？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="deletePrizeinfo">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!--页面提示信息模态框-->
    <div class="modal fade" id="remindMessage" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h4 class="modal-body">{{remindMessage}}</h4>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/vue.min.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#nav',
        data: {
            username: '用户'
        },
        created() {
            this.getUserName();
        },
        methods: {
            //获取用户名显示到页面上，如果没有登录则跳转到登录界面
            getUserName() {
                var that = this;
                $.post("userName.action",{usersort: "教师"}, function (data) {
                    if (Object.keys(data).length == 0){
                        window.location.href = 'teacherLoginOut.action';
                        return false;
                    }
                    that.username = data;
                });
            },

            //弹出确认模态框
            confirmSelect(){
                $("#confirmSelectModal").modal();
            },
            //退出登录
            teacherLoginOut() {
                window.location.href = 'teacherLoginOut.action';
            }
        }
    });

    new Vue({
        el: '#list',
        data: {
            items: [],
            seen: false,
            remindMessage: '',
            deleteprizeinfoid: '',
            deleteprizeinfoindex: ''
        },
        created() {
            this.showList();
        },
        methods: {
            //渲染学生奖惩列表
            showList() {
                var that = this;
                $.post("studentPrizeinfoList.action", function (data) {
                    //如果返回的数据长度为0，提示没有奖惩信息，不显示奖惩信息模块
                    if (Object.keys(data).length == 0){
                        that.remindMessage = "没有查询到奖惩信息！";
                        $("#remindMessage").modal();
                    }else {
                        data.forEach(function (prizeinfo) {
                            //毫秒值转换为js日期对象
                            var date = new Date(parseInt(prizeinfo.date));
                            date.setUTCMonth(date.getUTCMonth() + 1);
                            prizeinfo.date = date.getUTCFullYear() + '-' + date.getUTCMonth() + '-' + date.getUTCDate();
                        })
                        that.items = data;
                        that.seen = true;
                    }
                },'json')
            },
            //确认删除模态框
            deletePrizeinfoConfirm(id, index){
                this.deleteprizeinfoid = id;
                this.deleteprizeinfoindex = index;
                $("#confirmDeleteModal").modal();
            },

            //删除奖惩条目
            deletePrizeinfo(){
                $("#confirmDeleteModal").modal('hide');
                var that = this;
                $.post("deletePrizeinfo.action",{id: that.deleteprizeinfoid}, function (data) {
                });
                this.items.splice(that.deleteprizeinfoindex,1);
                this.remindMessage = "撤销成功！";
                $("#remindMessage").modal();
            }

        }
    });
</script>
</body>
</html>