<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>学生列表</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/stumanage.css" type="text/css">
</head>
<body background="static/img/furley_bg.png" >

<nav class="navbar navbar-default" id="nav">
    <h3 class="navbar-text"><em><strong>湖南人文科技学院</strong></em>&nbsp;&nbsp;&nbsp;学生奖惩信息管理系统</h3>
    <h4 class="navbar-text pull-right"><strong>欢迎您，{{username}}老师！&nbsp;<button class="btn btn-default" @click="confirmSelect">退出系统</button></strong></h4>

    <!-- 确认选择模态框 -->
    <div class="modal fade" id="confirmSelectModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">确认退出登录？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="teacherLoginOut">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</nav>

<div id="list">
    <!--二级菜单-->
    <nav class="navbar navbar-default">&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary navbar-btn">学生列表</button>&nbsp;&nbsp;&nbsp;
        <a href="addStudentPage.action"><button type="button" class="btn btn-default navbar-btn">添加学生</button></a>&nbsp;&nbsp;&nbsp;
        <a href="teacherPasswordManage.action"><button type="button" class="btn btn-default navbar-btn">密码管理</button></a>&nbsp;&nbsp;&nbsp;
        <a href="teacherHome.action"><button type="button" class="btn btn-default navbar-btn">回到主页</button></a>
    </nav>

    <template v-if="seen">
        <div class="container-fluid">
            <table class="table table-bordered">
                <tr>
                    <td><strong>序号</strong></td>
                    <td><strong>姓名</strong></td>
                    <td><strong>学号</strong></td>
                    <td><strong>性别</strong></td>
                    <td><strong>班级</strong></td>
                    <td><strong>年级</strong></td>
                    <td><strong>学院</strong></td>
                    <td><strong>奖惩管理</strong></td>
                    <td><strong>学生管理</strong></td>
                </tr>
                <tr v-for="(student, index) in items">
                    <td><strong>{{index+1}}</strong></td>
                    <td><strong>{{student.name}}</strong></td>
                    <td><strong>{{student.number}}</strong></td>
                    <td><strong>{{student.sex}}</strong></td>
                    <td><strong>{{student.classname}}</strong></td>
                    <td><strong>{{student.grade}}</strong></td>
                    <td><strong>{{student.college}}</strong></td>
                    <td>
                        <strong><a :href="'prizeinfoManage.action?id=' + student.id"><button class="btn btn-default">奖惩信息管理</button></a></strong>
                    </td>
                    <td>
                        <strong><a :href="'updateStudentPage.action?id=' + student.id"><button class="btn btn-default">修改信息</button></a></strong>&nbsp;&nbsp;&nbsp;&nbsp;
                        <strong><button class="btn btn-default" @click="deleteStudentConfirm(student.id, index)">删除学生</button></strong>
                    </td>
                </tr>
            </table>
        </div>
    </template>

    <!-- 确认删除模态框 -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">确认删除学生？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="deleteStudent">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="remindMessage" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h4 class="modal-body">删除成功！</h4>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/vue.min.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#nav',
        data: {
            username: '用户'
        },
        created() {
            this.getUserName();
        },
        methods: {
            //获取用户名显示到页面上，如果没有登录则跳转到登录界面
            getUserName() {
                var that = this;
                $.post("userName.action",{usersort: "教师"}, function (data) {
                    if (Object.keys(data).length == 0){
                        window.location.href = 'teacherLoginOut.action';
                        return false;
                    }
                    that.username = data;
                });
            },

            //弹出确认模态框
            confirmSelect(){
                $("#confirmSelectModal").modal();
            },
            //退出登录
            teacherLoginOut() {
                window.location.href = 'teacherLoginOut.action';
            }
        }
    });

    new Vue({
        el: '#list',
        data: {
            items: [],
            seen: false,
            deletestudentid: '',
            deletestudentindex: ''
        },
        created() {
            this.showList();
        },
        methods: {
            //渲染学生列表
            showList() {
                var that = this;
                $.post("studentlist.action", function (data) {
                    that.items = data;
                    that.seen = true;
                },'json')
            },

            //确认删除模态框
            deleteStudentConfirm(id, index){
                this.deletestudentid = id;
                this.deletestudentindex = index;
                $("#confirmDeleteModal").modal();
            },

            //删除学生
            deleteStudent(){
                $("#confirmDeleteModal").modal('hide');
                var that = this;
                $.post("deleteStudent.action",{id: that.deletestudentid}, function (data) {
                });
                this.items.splice(that.deletestudentindex,1);
                $("#remindMessage").modal();
            }
        }
    });
</script>
</body>
</html>